/* Set the background of the page to an image of choice */
/* Set the font family and color */
body{ 
    background-image: url("nebula.png");
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* Center the text in the first header */
/* Create a grooved border, set its width and color */
h1{
    text-align: center;
    border: groove;
    border-width: 20px;
    border-color: olivedrab;
}

/* Set the section to flex, align the items in a row and wrap them to fit the window */
section{
    display: flex;
    flex-flow: row wrap;
}

/* Align the text in each article header to center and underline them */
h2{
    text-align: center;
    text-decoration: underline;
}

/* set each article to flex to a specified width/length  */
/* set the margin between each article block */
/* set the border style, width and color */
/* select a background color to each article block and make it transparent */
article {
    flex: 250px;
    margin: 2%;
    border-width: 5px;
    border-style: ridge;
    border-color: olivedrab;
    background-color: rgba(5, 4, 4, 0.3);
    font-size: 1.1em; /* Slightly larger font size */
    line-height: 1.6; /* Slightly more spaced lines */
}
/* give the text within the block a margin to the border */
p{
    margin: 2%;
}

/* float the image/logo to the top left of the window */
img{
    float: left;
    margin-left: 15px;
}

/* set the footer to a block display, give it a border */
/* align the text within the footer to center */
/* make the width and position of the footer dynamic */
footer{
    display: block;
    text-align: center;
    border-style: solid;
    margin-left: calc(185px + (21%));
    width: calc((100% - 185px) / 2);
    background-color: rgba(5, 4, 4, 0.3);
    font-size: 1.1em; /* Slightly larger font size */
    line-height: 1.6; /* Slightly more spaced lines */
}